.sectionU {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 40px 40px auto;
  max-width: 1200px;
  margin-bottom: 60px;
}

.textcontainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  width: 100%;
}

.ptext {
  margin-top: -200px;
  width: 120%;
}

.imgakne {
  width: 120%;
  height: 500px;
  border-radius: 8px;
  margin-left: 100px;
  margin-top: -80px;
}

.imageGridContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 40px;
  width: 100%;
}

.column {
  flex: 0 1 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  text-align: center;
}

.image {
  width: 30%;
  height: auto;
  border-radius: 10px;
  margin-right: 50px;
}

.imageText {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #013880;
  font-weight: 600;
  text-align: left;
  margin-left: 50px;
}

/* Responsiv design */

/* För skärmar mindre än 1439px */
@media (max-width: 1439px) {
  .imageText {
    font-size: 1.1rem;
  }
}

/* För skärmar mindre än 1200px */
@media (max-width: 1200px) {
  .imgakne {
    width: 150%;
    height: 500px;
    border-radius: 8px;
    margin-left: 60px;
    margin-top: -75px;
  }

  .imageGridContainer {
    justify-content: center;
  }

  .image {
    width: 28%;
  }

  .imageText {
    margin-left: 20px;
    text-align: center;
  }
}

/* För skärmar mindre än 991px */
@media (max-width: 991px) {
  .image {
    width: 40%;
  }

  .imageText {
    font-size: 1rem;
  }
}

/* För skärmar mindre än 768px */
@media (max-width: 768px) {
  .ptext {
    width: 100%;
  }
  .imageGridContainer {
    flex-direction: column;
    align-items: center;
  }

  .column {
    max-width: 100%;
  }
  .bluepalette {
    width: 400px;
    height: 200px;
    margin-bottom: 110px;
  }
  .image {
    width: 60%;
  }

  .imageText {
    margin-left: 0;
    text-align: center;
  }
}

/* För skärmar mindre än 480px */
@media (max-width: 480px) {
  .sectionU {
    flex-direction: column;
    align-items: center;
  }

  .imgakne {
    width: 300px;
    margin: 0 auto;
  }
  .bluepalette {
    width: 350px;
    height: auto !important;
    margin-top: -50px;
  }

  .image {
    width: 80%;
  }

  .imageText {
    font-size: 0.9rem;
    text-align: center;
  }
}
