/* Grundläggande layout */
.sectionA {
  padding: 20px;
  margin: 60px auto;
  max-width: 1200px;
  font-family: Arial, sans-serif;
}

.container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.textcontainer {
  flex: 1 1 50%;
  padding: 10px;
}

.textcontainer h2 {
  font-size: 2rem;
  color: #23559b;
  margin-bottom: 20px;
}

.ptext {
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}

.imgirritation {
  flex: 1 1 40%;
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.ulList {
  list-style-type: disc;
  padding-left: 20px;
  color: #555;
  font-size: 1.2rem;
  line-height: 1.6;
}

.ulList li {
  margin-bottom: 10px;
}

.scrollToTop {
  margin-top: 20px;
  font-size: 2rem;
  color: #23559b;
  cursor: pointer;
  text-align: center;
}

/* Responsiv design */

/* För små skärmar (max-width: 480px) */
@media (max-width: 480px) {
  .container1 {
    flex-direction: column;
    text-align: center;
  }

  .textcontainer h2 {
    font-size: 2rem;
  }

  .ptext {
    font-size: 1rem;
  }

  .imgirritation {
    max-width: 300px;
  }

  .ulList {
    font-size: 1rem;
    padding-left: 10px;
  }
}

/* För medelstora skärmar (min-width: 768px) */
@media (min-width: 768px) {
  .container1 {
  }

  .textcontainer h2 {
    font-size: 2.2rem;
  }

  .ptext {
    font-size: 1.1rem;
  }

  .imgirritation {
    max-width: 350px;
  }

  .ulList {
    font-size: 1.1rem;
    padding-left: 15px;
  }
}

/* För stora skärmar (min-width: 1024px) */
@media (min-width: 1024px) {
  .sectionA {
    margin-top: 60px;
  }
  .container1 {
    flex-wrap: nowrap;
  }

  .textcontainer h2 {
    font-size: 2rem;
  }

  .ptext {
    font-size: 1.1rem;
  }

  .imgirritation {
    max-width: 400px;
    margin-top: 20px;
  }

  .ulList {
    font-size: 1.2rem;
    padding-left: 20px;
  }
}
