.auxesis,
.medtech,
.animalcare {
  width: 1200px;
  padding: 60px;
  margin-top: -10px;
}

.h2 {
  font-size: 62px;
}

.ptext {
  font-size: 24px;
}

.h3 {
  font-size: 34px;
}

.imgprodukt {
  width: 1000px;
}
.imgcoxypet {
  width: 700px;
}

.scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 60px;
  background-color: #c1eaff;
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.scrollToTop:hover {
  background-color: #194276;
}
