.auxesis,
.medtech,
.animalcare {
  width: 90%; /* Use percentage for responsiveness */
  max-width: 1200px; /* Set a max-width */
  padding: 60px;
  margin: 0 auto; /* Center the container */
}
.h2 {
  font-size: 62px;
  margin-bottom: 20px; /* Add some space below the heading */
}

.ptext {
  font-size: 24px;
  margin-bottom: 20px; /* Add some space below paragraphs */
}

.h3 {
  font-size: 34px;
  margin-top: 40px; /* Add space above the subheading */
}

.imgprodukt {
  width: 100%; /* Make image responsive */
  max-width: 1000px; /* Set a max-width */
}

.imgcoxypet {
  width: 100%; /* Make image responsive */
  max-width: 700px; /* Set a max-width */
}

.scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px; /* Adjusted for smaller screens */
  background-color: #c1eaff;
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.scrollToTop:hover {
  background-color: #194276;
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
  .h2 {
    font-size: 48px; /* Adjust heading size for smaller screens */
    margin-top: -40px;
  }

  .ptext {
    font-size: 20px; /* Adjust paragraph size for smaller screens */
  }

  .h3 {
    font-size: 28px; /* Adjust subheading size for smaller screens */
  }
}
