.financesection {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 20px;
  margin-top: 50px;
  margin-left: 60px;
}

.ptextunder {
  font-size: 20px; /* Use rem for responsiveness */
  line-height: 1.2; /* Improve readability */
  margin-bottom: 1rem;
  color: #555;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -20px;
  margin-left: -40px;
}

.textcontainer {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  padding: 0 17px;
}

.textrubriken {
  letter-spacing: 0.12px;
  font: 500 24px/140% Poppins, -apple-system, Roboto, Helvetica, sans-serif;
  color: #23559b;
  font-weight: bold;
}

.div73 {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-left: 200px;
  gap: 20px;
}
.divh1 {
  margin-right: 40px;
}
.divh2,
.divh1 {
  color: #282938;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font: 600 38px/57px Poppins, -apple-system, Roboto, Helvetica, sans-serif;
}

/*PROTOKOL2023*/
.protokol {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.imgprotokol {
  width: 900px;
  margin-top: -20px;
}

.protokolSection {
  text-align: center;
  margin: 2rem;
}

.downloadButton {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #0070f3;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.downloadButton:hover {
  background-color: #005bb5;
}

/*REVISION*/
.revision {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.imgrevision {
  width: 1300px;
}

.div81 {
  display: flex; /* Se till att knapparna är flexbox */
  gap: 32px; /* Avstånd mellan knapparna */
  justify-content: center; /* Centrerar knapparna */
  align-items: center;
  margin-top: 20px;
  margin-left: 130px;
  margin-bottom: 50px;
}

.column {
  min-width: 32%; /* Ser till att kolumnerna inte blir för små */
  max-height: 500px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.imgdiv {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  width: 100%;
}

.imgfront {
  object-fit: auto;
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 230px;
}

.btncontainer {
  display: flex;
  margin-top: 26px;
  gap: 20px;
  text-align: justify;
  padding: 0 1px;
}

.itemsbox {
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #282938;
  font-weight: 400;
  width: 100%;
  margin-bottom: 60px;
  align-items: baseline;
  justify-content: flex-end;
}

.scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 60px;
  background-color: #c1eaff;
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.scrollToTop:hover {
  background-color: #194276;
}
.buttongradient {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  letter-spacing: 0.16px;
  justify-content: center;
  width: 130px;
  height: 50px;
  background-color: #06327d;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s;
  border-radius: 8px;
}
.button:hover {
  border-color: #a3dcef;
}
.link {
  text-decoration: none;
  color: white;
}
@media (max-width: 991px) {
  .div73 {
    max-width: 100%;
    flex-wrap: wrap;
    margin-top: 40px;
  }

  .div76 {
    white-space: initial;
  }

  .div78 {
    padding: 0 20px;
  }

  .div81 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }

  .column {
    width: 100%;
  }

  .scrollToTop {
    bottom: 20px;
    right: 20px;
  }
  .imgfront {
    width: 60%;
    height: 80%;
    margin-left: 100px;
  }
}
@media (max-width: 768px) {
  .div73 {
    width: 250px;
    margin: 10px auto; /* Centrerar innehållet */
  }

  .textcontainer {
    width: 300px;
    margin-left: 300px;
    text-align: center;
  }

  .column {
    width: 100%;
  }

  .imgfront {
    width: 60%;
    height: 40%;
    margin: 0 auto; /* Centrerar bilderna */
    display: block; /* Säkerställer att de tar upp rätt utrymme */
  }

  .ptext {
    padding: 0 10px; /* Lite padding runt texten */
  }
}
