.div201 {
  width: 99vw; /* Gör att footern täcker hela bredden av visningsfönstret */
  background-color: #06327d;
  padding: 20px; /* Lägg till lite padding */
  box-sizing: border-box;
  color: white;
  display: flex;
  justify-content: space-around;
}

.footertext {
  color: white;
  font-size: 20px; /* Use rem for responsiveness */
  line-height: 1.2; /* Improve readability */
  margin-bottom: 1rem;
}

.div202 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-left: 150px;
}

.column {
  flex: 1; /* Gör varje kolumn lika stor */
  margin: 0 20px; /* Lägger till marginal mellan kolumnerna */
}

.divh4,
.divh3 {
  color: white;
  margin-bottom: 10px; /* Lägger till avstånd under rubrikerna */
  font-size: 1.3rem;
}

.imglinkedin {
  width: 50px;
  margin-top: 10px; /* Justera avståndet för LinkedIn-loggan */
}

@media (max-width: 768px) {
  .div201 {
    flex-direction: column; /* Ändra till vertikal layout för mindre skärmar */
    align-items: center; /* Centrera kolumnerna */
  }

  .div202 {
    flex-direction: column; /* Stapla kolumnerna vertikalt */
    align-items: center; /* Centrera innehållet */
  }

  .column {
    margin: 10px 0; /* Lägga till utrymme mellan kolumnerna */
    width: 80%; /* Anpassa bredden */
  }
}
