.div201 {
  background-image: url("/footerbg.jpg");
  background-size: cover; /* Detta säkerställer att bilden täcker hela elementet */
  background-position: center; /* Detta centrerar bilden inom elementet */

  width: 100%;
  max-width: 100%;
  overflow-x: hidden;

  padding: 100px 53px; /* Reduce padding to move content higher up */
  height: 450px;
}
.div202 {
  gap: 20px;
  display: flex;
  margin-top: 250px;
  margin-left: 190px;
}

.div203 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  color: #fff;
}

.div204 {
  letter-spacing: 0.12px;
  font: 700 24px/140% Poppins, -apple-system, Roboto, Helvetica, sans-serif;
}
.div205 {
  margin-top: 21px;
  font: 400 16px/24px Poppins, -apple-system, Roboto, Helvetica, sans-serif;
  width: 400px;
}

.div207 {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.div208 {
  letter-spacing: 0.09px;
  font: 500 18px Poppins, sans-serif;
}
.div209 {
  margin-top: 19px;
  font: 400 16px Poppins, sans-serif;
}
.div210 {
  align-self: start;
  display: flex;
  flex-direction: column;
}
.div211 {
  letter-spacing: 0.09px;
  font: 500 18px Poppins, sans-serif;
}
.div212 {
  margin-top: 14px;
  font: 400 16px Poppins, sans-serif;
}
.column22 {
  display: flex;
  flex-direction: column;
  line-height: normal;

  margin-left: 20px;
}

.div214 {
  gap: 20px;
  display: flex;
}

.column23 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 40%;
  margin-left: 0px;
  margin-top: -22px;
}

.div215 {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.09px;
  line-height: 150%;
  letter-spacing: 0.1px;
  font: 500 20px Poppins, sans-serif;
}

.div216 {
  letter-spacing: 0.1px;
  font: 500 20px Poppins, sans-serif;
}
.div217 {
  font-family: Poppins, sans-serif;
  margin-top: 36px;
}
.div218 {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.09px;
  line-height: 150%;
}
.div219 {
  font-family: Poppins, sans-serif;
  margin-top: 21px;
}
.column24 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 600px;
  margin-left: 20px;
  margin-top: -22px;
}

.div220 {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.09px;
  line-height: 150%;
}

.div221 {
  letter-spacing: 0.1px;
  font: 500 20px Poppins, sans-serif;
}
.div222 {
  font-family: Poppins, sans-serif;
  margin-top: 30px;
}

.imglinkedin {
  width: 50px;
  margin-top: -50px;
}
.div223 {
  font-family: Poppins, sans-serif;
  margin-top: 12px;
}
.column25 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}

.div224 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.09px;
  line-height: 150%;
}

.div225 {
  letter-spacing: 0.1px;
  font: 500 20px Poppins, sans-serif;
}
.div226 {
  font-family: Poppins, sans-serif;
  margin-top: 35px;
}
.div227 {
  font-family: Poppins, sans-serif;
  margin-top: 13px;
}
.div228 {
  font-family: Poppins, sans-serif;
  margin-top: 21px;
}

.div201 {
  background-image: url("/footerbg.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  padding: 100px 53px;
  height: 450px;
}

.div202 {
  gap: 20px;
  display: flex;
  margin-top: 250px;
  margin-left: 190px;
}

@media (max-width: 991px) {
  .div201 {
    padding: 40px 20px; /* Mindre padding för att passa in på mindre skärmar */
    height: 1200px; /* Gör höjden dynamisk istället för fast */
  }

  .div202 {
    flex-direction: column; /* Stapla kolumnerna vertikalt */
    align-items: center; /* Centrera innehållet horisontellt */
    margin-top: 50px; /* Mindre marginal för att justera layout */
    margin-left: 0; /* Ta bort vänstermarginalen */
    gap: 30px; /* Justera avstånd mellan elementen */
  }

  .div203 {
    text-align: center;
    margin-top: 400px;
    margin-right: 0;
    width: 100%; /* Låt elementet ta hela bredden */
  }

  .div214 {
    gap: 50px; /* Minska gapet för att bättre passa på mindre skärmar */
  }

  .column23,
  .column24 {
    width: 100%; /* Gör att dessa kolumner tar hela bredden */
    margin-left: 0; /* Ta bort vänstermarginal */
    margin-top: 20px; /* Lägg till utrymme mellan elementen */
  }

  .imglinkedin {
    width: 40px; /* Anpassa storleken på bilden */
    margin-top: 20px; /* Lägg till lite mer marginal ovanför LinkedIn-logon */
  }

  .div223 {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .div201 {
    padding: 10px 10px;
    height: 1000px;
    gap: 10px;
  }
  .div202 {
    gap: 10px;
  }
  .div203 {
    text-align: center;
    margin-top: 250px;
    gap: 10px;
  }
  .imglinkedin {
    width: 40px;
  }
}
