.ir-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
  width: 1200px;
  margin-top: -20px;
}

.ir {
  flex-grow: 1;
  width: 60%; /* Ger mer utrymme för texten */
}

.styrelse,
.agare {
  width: 1200px;
  padding: 60px;
  z-index: 999;
  margin-top: -40px;
  line-height: 3rem;
}

.fettext {
  font-weight: bold;
  font-size: 28px;
}

.h2 {
  font-size: 62px;
}

.ptext {
  font-size: 24px;
}

.h4 {
  font-size: 34px;
}
.world {
  width: 700px;
  display: flex;
  justify-content: center; /* Centrera bilden horisontellt */
  align-items: center; /* Centrera bilden vertikalt */
  margin-top: -70px;
}
.ledning {
  font-size: 24px;
}
