/* Header styling */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.logo {
  width: 150px;
  height: auto;
  margin-top: 100px;
}

.languageContainer {
  display: flex;
  gap: 10px;
  margin-top: -50px;
  margin-bottom: 50px;
}

/* Hamburger button */
.hamburgerBtn {
  background: none;
  border: none;
  cursor: pointer;
}

.hamburgerIcon {
  width: 60px;
  height: 60px;
  background-color: #23559b;
  border-radius: 8px;
}

/* Sliding menu */
.menu {
  position: fixed;
  top: 0;
  right: -300px; /* Hidden initially */
  width: 300px;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  padding: 20px;
  transform: translateX(0);
  transition: right 0.3s ease-in-out;
  z-index: 999;
}

.menuOpen {
  right: 0;
}

.closeBtn {
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mainLink {
  font-size: 1.2rem;
  color: #1c1e53;
  font-weight: bold;
  cursor: pointer;
}

.dropdownContent,
.subDropdownContent {
  display: none;
  color: #23559b;
}

.subDropdownContent {
  color: #23559b;
}

.dropdown:hover .dropdownContent,
.subDropdown:hover .subDropdownContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.subLink {
  font-size: 1rem;
  color: #23559b;
}

.subSubLink {
  font-size: 0.9rem;
  padding-left: 15px;
  color: #666;
}

@media (max-width: 768px) {
  .logo {
    width: 100px;
    height: auto;
    margin-top: 70px;
    margin-left: 20px;
  }
  .hamburgerBtn {
    display: block; /* Show hamburger menu */
  }

  .menu {
    display: flex; /* Enable sliding menu */
  }

  .languageContainer {
    margin-bottom: 20px;
  }

  .hamburgerIcon {
    width: 40px;
    height: 40px;
    background-color: #23559b;
    border-radius: 8px;
    margin-right: 50px;
    margin-top: 30px;
  }
}
