@media (min-width: 991px) {
  .heroSection {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 100%;
    margin-top: 80px;
  }

  .logo {
    width: 150px;
    height: auto;
    margin-right: 1200px;
    margin-top: 100px;
  }

  .div13 {
    background-image: url("/produkter/5216B2EC-B52C-4624-8893-85EED9576B09.jpeg");
    background-size: cover;
    background-position: top center; /* Placera bilden vid toppen */
    background-repeat: no-repeat !important;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .div14 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .column {
    text-align: center;
  }

  .div16 {
    display: flex;
    flex-direction: column;
    margin-right: 600px;
    background: none;
    margin-top: 40px;
  }

  .divh1 {
    visibility: hidden; /* Gör texten osynlig */
  }

  .h2 {
    color: #23559b;
    font-size: 50px;
    line-height: 1.2;
    margin: 10px 0 0 0;
    animation: slideInRight 1.5s ease forwards;
    animation-delay: 0.5s;
  }

  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideInRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
@media (min-width: 1200px) {
  .heroSection {
    height: 30vh;
    width: 120%;
    margin-top: 80px;
  }

  .divh1 {
    visibility: hidden; /* Gör texten osynlig */
  }
  .logo {
    width: 150px;
    margin-right: 1200px;
    margin-top: 60px;
  }
}

@media (max-width: 991px) {
  .heroSection {
    height: 20px;
    padding: 20px;
  }

  .div13 {
    background-image: none;
  }

  .logo {
    width: 120px;
  }

  .divh1,
  .h2 {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .heroSection {
    padding: 20px;
    flex-direction: column;
    height: 20px;
  }

  .logo {
    width: 100px;
  }

  .divh1,
  .h2 {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
}
