@media (min-width: 991px) {
  .heroSection {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 100%;
    margin-top: 80px;
  }

  .backgroundImage {
    position: relative;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
  }

  .logoContainer {
  }

  .logo {
    display: block !important;
    visibility: visible !important;
  }

  .div13 {
    background-image: url("/produkter/5216B2EC-B52C-4624-8893-85EED9576B09.jpeg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .div15 {
    margin-top: -100px;
  }
  .logo {
    width: 200px;
    height: auto;
    margin-right: 1200px;
    margin-top: 20px;
  }

  .div13 {
    background-image: url("/produkter/5216B2EC-B52C-4624-8893-85EED9576B09.jpeg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .div14 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
  }

  .column {
    text-align: center;
  }

  .div16 {
    display: flex;
    flex-direction: column;
    margin-right: 600px;
    background: none;
    margin-top: 40px;
  }

  .divh1 {
    color: #23559b;
    font-size: 50px;
    line-height: 1.2;
    margin: 0;
    animation: slideInLeft 1.5s ease forwards;
  }

  .h2 {
    color: #23559b;
    font-size: 50px;
    line-height: 1.2;
    margin: 10px 0 0 0;
    margin-top: -1px;
    animation: slideInRight 1.5s ease forwards;
  }

  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideInRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

/*HUVUDRUBRIKEN /HEM*/

@media (max-width: 991px) {
  .heroSection {
    height: 20vh;
  }

  .backgroundImage {
    display: none;
  }

  .logo {
    width: 120px;
  }

  .divh1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .h2 {
    font-size: 2rem;
    margin-top: -25px;
    line-height: 2.5rem;
    margin-left: 80px;
  }
}

@media (max-width: 768px) {
  .heroSection {
    height: auto;
    padding: 20px;
  }

  .backgroundImage {
    display: none;
  }

  .logo {
    width: 100px;
  }

  .divh1 {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  .h2 {
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin-top: -20px;
    margin-left: 55px;
  }
}
