.heroSection {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw; /* Full bredd */
  margin-top: 80px;
  padding: 0;
  overflow: hidden; /* Döljer överskjutande innehåll */
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background-size: cover;
  background-position: center;
  z-index: -1;
  background-image: url("/images/large-bg.jpg"); /* Standard bakgrundsbild */
}

.logo {
  width: 13%;
  height: auto;
  margin-top: -5%;
}

/* Responsiv design */

/* För stora skärmar (min-width: 1200px) */
@media (min-width: 1200px) {
  .heroSection {
    height: 60vh;
  }

  .backgroundImage {
    background-image: url("/images/large-bg.jpg"); /* Större bild för högupplösta skärmar */
  }

  .logo {
    width: 13%;
  }
}

/* För medelstora skärmar (max-width: 991px) */
@media (max-width: 991px) {
  .heroSection {
    height: 40vh;
  }

  .backgroundImage {
    background-image: url("/images/medium-bg.jpg"); /* Anpassad bild för medelstora skärmar */
  }

  .logo {
    width: 140px;
  }
}

/* För små skärmar (max-width: 768px) */
@media (max-width: 768px) {
  .heroSection {
    height: 40vh;
  }

  .backgroundImage {
    background-image: url("/images/small-bg.jpg"); /* Mindre bild för snabbare laddning */
    background-size: cover;
    background-position: center;
    width: 100%;
  }

  .logo {
    width: 100px;
  }
}

/* För extra små skärmar (max-width: 480px) */
@media (max-width: 480px) {
  .heroSection {
    height: 40vh;
  }

  .backgroundImage {
    background: #f0f0f0; /* Enkel färg istället för bild */
    background-image: none; /* Ingen bakgrundsbild */
  }

  .logo {
    width: 80px;
  }
}
