.spotlights {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #c9e7f153;
  padding: 10px;
  text-align: center;
  margin-left: 80px;
  margin-top: 100px;
  width: 100%; /* Gör bredden mer flexibel */
  max-width: 1100px; /* Sätt en maxbredd för stora skärmar */
}
.title {
  font-size: 2rem; /* Använd rem för bättre skalbarhet */
  font-weight: 700;
  text-align: center;
  color: #1c1e53;
  margin-left: 80px;
  margin-bottom: -50px;
}

.h1intpatent {
  line-height: 4rem;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 570;
}

.h1div {
  line-height: 4rem;
}
.newsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Centrera items när de är få */
  align-items: center;
}

.newsContainerFullPage {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 60px;
  margin-top: 40px;
}

.newsItem {
  background: white;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%; /* Gör item bredd flexibel */
  max-width: 300px; /* Sätt maxbredd för att hålla proportioner */
  overflow: hidden;
  text-align: left;
  padding: 0 20px 40px; /* Lägg till padding för utrymme för knappen */
}

.date {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: -20px;
  margin-bottom: 10px;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.del1 {
  position: relative;
}

.content {
  padding: 10px;
}

.newsTitle {
  font-size: 1.5rem;
  font-weight: 590;
  color: #23559b;
}
.description {
  font-size: 1rem;
  color: #6f7287;
  margin-top: 10px;
}
.readMoreButton {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
}

.readMoreButton:hover {
  background-color: lightcyan;
}

.infoButton1 {
  margin-top: 30px;
  padding: 10px 20px;

  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.infoButton:hover {
  background-color: #0056b3;
}

/*Senaste nyheter*/
.details {
  margin-top: 100px;
  width: 80%;
}

.img1 {
  width: 90%;
}

/*PAGINERING*/
.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.pageButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.pageButton:hover {
  background-color: #0056b3;
}

.downloadButton {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #0070f3;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-bottom: 60px;
}

.downloadButton:hover {
  background-color: #005bb5;
}

.activePage {
  background-color: #194276;
  font-weight: bold;
}

/*SÖKFUNKTIONEN*/
.searchInput {
  width: 80%;
  max-width: 400px;
  padding: 10px;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .title {
    font-size: 1.5rem;
  }

  .newsItem {
    width: 90%;
    max-width: none; /* Ta bort maxbredd för små skärmar */
  }

  .newsContainer {
    gap: 10px;
  }
}
.scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 60px;
  background-color: #c1eaff;
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.scrollToTop:hover {
  background-color: #194276;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
  width: 80%;
  max-width: 100%;
  margin-left: 15%;
  font-size: larger;
  text-align: center;
}

.articlesimage {
  width: 100%;
  height: auto;
  object-fit: cover;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.articlesimage2 {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.articlesimage3 {
  width: 100vh;
  height: auto;
  object-fit: cover;
}

.asap1 {
  width: 500px;
  height: auto;
}
.asap2 {
  width: 500px;
  height: auto;
}
.image1 {
  width: 200%;
  margin-bottom: 20px;
}
.image1 {
  width: 400px;
}
.image2 {
  width: 500px;
  height: auto;
}
