/* Sektion Styling */
.section {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  margin-top: -20px;
}

/* Första sektionen */
.section1,
.section2 {
  margin-bottom: 40px;
}
.h1 {
  font-size: 3rem;
  color: #23559b;
  text-align: center;
}

.h2 {
  font-size: 2rem;
  color: #23559b;
  text-align: center;
}

.ptext {
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
  margin-bottom: 20px;
}

/* Responsiv design */

/* För små skärmar (max-width: 480px) */
@media (max-width: 480px) {
  .section {
    padding: 10px;
  }

  .divh1,
  .divh2 {
    font-size: 1.8rem;
  }

  .ptext {
    font-size: 1rem;
    line-height: 1.6;
    text-align: left; /* Ändra till vänsterjusterad text */
  }
}

/* För mindre surfplattor och telefoner (max-width: 768px) */
@media (max-width: 768px) {
  .section {
    padding: 15px;
  }

  .divh1,
  .divh2 {
    font-size: 2rem;
  }

  .ptext {
    font-size: 1.1rem;
    line-height: 1.6;
  }
}

/* För tablets och mindre laptops (max-width: 991px) */
@media (max-width: 991px) {
  .section {
    padding: 20px;
    margin-top: -40px;
  }

  .divh1,
  .divh2 {
    font-size: 2.2rem;
  }

  .ptext {
    font-size: 1rem;
    line-height: 1.6;
  }
}

/* För stora skärmar (min-width: 1200px) */
@media (min-width: 1200px) {
  .section {
    margin-top: -40px;
    margin-bottom: 60px;
  }
  .h1 {
    font-size: 3rem;
    color: #23559b;
    text-align: center;
  }

  .h2 {
    font-size: 2rem;
    color: #23559b;
    text-align: center;
  }

  .ptext {
    font-size: 1rem;
    line-height: 1.6;
  }
}
