.kontaktsection {
  margin-top: 150px;
  width: 90%;
  margin-left: 145px;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
  height: 400px;
}

.kontakt {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 120px;
  flex-wrap: wrap;
  margin-left: 600px; /* Lägg till flex-wrap för att möjliggöra innehåll under de två sektionerna */
}

.section1 {
  width: 100%; /* Båda sektionerna tar 50% av sidan */
  box-sizing: border-box;
  margin-top: 70px;
}

.section2 {
  width: 100%; /* Båda sektionerna tar 50% av sidan */
  box-sizing: border-box;
}

.squarecontainer {
  margin-left: -250px;
  width: 100%;
}

.section1 {
  padding: 30px;
  gap: 10px;
}

.h1div {
  font-size: 3.5rem;
  margin-bottom: 100px;
}

.section2 {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-top: -200px;
  width: 850px;
  margin-left: -200px;
  margin-bottom: 100px;
}

.kontaktinner {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.kontaktikoner {
  width: 70px;
  background-color: #23559b;
}

.ptext {
  font-size: 1.7rem;
  color: #1c1e53;
}

/* Placera circlecontainer under section2 */
.circlecontainer {
  display: flex;
  justify-content: center;
  width: 50%; /* Anpassa till förälderbredd */
  margin-left: -200px;
  margin-top: -100px;
  margin-bottom: 60px;
  gap: 20px;
}

.circle {
  width: 10px;
  height: 10px;
  background-color: #06327dde;
  border-radius: 50%;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .section1,
  .section2 {
    width: 100%; /* Sektionerna blir 100% breda */
    padding: 15px; /* Mindre padding för bättre passform */
  }

  .circlecontainer {
    flex-direction: column; /* Gör cirklarna vertikala för bättre mobilanpassning */
    align-items: center;
    width: 100%;
    gap: 10px;
  }

  .circle {
    width: 10px; /* Minska storleken på cirklarna */
    height: 10px;
  }

  .h2div {
    font-size: 2rem; /* Ytterligare minskning av textstorlek */
  }

  .ptext {
    font-size: 1.2rem; /* Anpassa textstorleken på kontaktinfo för mobil */
  }
}
