.languageSwitcher {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.languageSwitcher button {
  background-color: #035877be;
  color: white;
  border: none;
  padding: 8px 16px;
  margin: 0 7px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.languageSwitcher button:hover {
  background-color: #005bb5;
}
