/* Grundstilar */
.pagediv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.background {
  position: relative;
  background-image: url("/secondbgbild.jpg");
  background-position: center;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Responsiv design */

/* Små skärmar (max-width: 480px) */
@media (max-width: 480px) {
  .pagediv {
    padding: 10px;
  }

  .background {
    height: 200px; /* Anpassa bakgrundshöjd */
  }
}

/* Mellanstora skärmar (min-width: 768px) */
@media (min-width: 768px) {
  .pagediv {
    padding: 15px;
  }

  .background {
    height: 350px;
  }
}

/* Stora skärmar (min-width: 1024px) */
@media (min-width: 1024px) {
  .pagediv {
    padding: 20px;
  }

  .background {
    height: 450px;
  }
}
