.sectionU {
  width: 100%;
  padding: 20px; /* Add padding for spacing */
  margin: 0 auto; /* Center the content */
  margin-top: 200px;
  margin-bottom: 70px;
  margin-left: 60px;
}

.ptext {
  font-size: 20px; /* Use rem for responsiveness */
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}

.container1 {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

.textcontainer {
  margin-right: 20px;
  width: 90%;
}

.imgakne {
  width: 100%; /* Make the image responsive */
  max-width: 500px; /* Set a max-width */
  margin-left: 100px;
  margin-top: 50px;
}
.h2utveckling {
  margin-left: -60px;
}

.scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #c1eaff;
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  z-index: 1000;
}

.scrollToTop:hover {
  background-color: #194276;
}
@media (max-width: 991px) {
  .container1 {
    margin-right: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .sectionU {
    margin-left: 100px;
    width: 100%;
    margin-top: 200px;
  }

  .ptext {
    font-size: 18px; /* Justera textstorlek för mindre skärmar */
  }
  .ulList {
    text-align: left;
    margin-top: -20px;
  }

  .ptext {
    font-size: 18px; /* Justera textstorlek för mindre skärmar */
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .ptext {
    font-size: 16px;
    margin-left: 40px;
  }

  .sectionU {
    margin-left: 70px;
    width: 90%;
    margin-top: 180px;
  }

  .h2utveckling {
    margin-left: 30px;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .ptext {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #555;
  }

  .scrollToTop {
    font-size: 2rem; /* Gör knappen större */
    bottom: 30px; /* Ger mer utrymme nedtill */
    right: 30px;
  }
}
