.sectionC {
  margin: 100px auto;
  padding: 20px;
  max-width: 1200px;
  font-family: Arial, sans-serif;
}

.h1 {
  font-size: 3rem;
  color: #23559b;
}

.h2 {
  font-size: 2rem;
  color: #23559b;
}
.contentSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  gap: 20px;
}

.textBlock {
  flex: 1;
  padding: 20px;
}
.textBlock3 {
  flex: 1;
  padding: 20px;
}

.textBlock h2 {
  font-size: 1.8rem;
  color: #23559b;
  margin-bottom: 16px;
}

.textBlock p {
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
  margin-bottom: 12px;
}

.image {
  flex: 1;
  max-width: 20%; /* Minska bildens bredd */
  height: auto;
  border-radius: 8px;
}
.image1 {
  flex: 1;
  max-width: 10%; /* Minska bildens bredd */
  height: auto;
  border-radius: 8px;
}

/* Responsiv design */

/* Små skärmar (max-width: 480px) */
@media (max-width: 480px) {
  .contentSection {
    flex-direction: column;
    text-align: center;
  }

  .textBlock {
    padding: 10px;
  }

  .textBlock h2 {
    font-size: 1.5rem;
  }

  .textBlock p {
    font-size: 1rem;
  }

  .image,
  .image1 {
    display: none; /* Dölj bilderna helt */
  }
}

/* Mellanstora skärmar (max-width: 768px) */
@media (max-width: 768px) {
  .contentSection {
    flex-direction: column;
    text-align: center;
  }

  .textBlock {
    padding: 15px;
  }

  .textBlock h2 {
    font-size: 1.6rem;
  }

  .textBlock p {
    font-size: 1.1rem;
  }

  .image,
  .image1 {
    display: none; /* Dölj bilderna helt */
  }
}

/* Stora skärmar (min-width: 1024px) */
@media (min-width: 1024px) {
  .sectionContainer {
    margin-top: 60px;
  }
  .contentSection {
    flex-direction: row;
  }

  .textBlock h2 {
    font-size: 2rem;
  }

  .textBlock p {
    font-size: 1.1rem;
  }

  .image {
    max-width: 20%; /* Minska bilden ytterligare för mellanstora skärmar */
    margin-bottom: 20px;
  }
  .image1 {
    max-width: 10%; /* Minska bilden ytterligare för mellanstora skärmar */
    margin-bottom: 20px;
  }
}
