.spotlights {
  text-align: center;
  width: 80%; /* Anpassa till 80% bredd */
  height: 300px; /* Justera till auto */
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 100px;
  margin-top: 100px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 10px;
  color: #1c1e53;
}

.carouselContainer {
  height: 200px; /* Låt höjden anpassa sig efter innehållet */
  overflow: hidden; /* Om du vill dölja överflödigt innehåll */
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.newsItem {
  width: 80%;
  display: flex;
  flex-direction: column; /* Ändra till column om du vill att varje artikel ska staplas vertikalt */
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.textOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #1c1e53;
  z-index: 2;
  width: 100%;
}

.newsTitle {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: #1c1e53;
}

.subtitle {
  font-size: 18px;
  color: #1c1e53;
  margin: 5px 0;
}

.readMoreButton {
  margin-top: 20px;
  width: 100px;
  height: 50px;
  background-color: #1c1e53db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s;
  margin-left: 450px;
}

.readMoreButton:hover {
  background-color: #9194c8;
}
