.container {
  max-width: 1200px;
  margin: 250px auto; /* Lägg till 50px margin på toppen */
  padding: 20px;
}

.heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #23559b;
}

.subheading {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 40px;
  color: #666;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px; /* Öka avståndet mellan korten */
}

.card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image {
  border-radius: 50%; /* Gör bilden rund */
  margin-bottom: 15px;
  width: 100px; /* Standardstorlek */
  height: 100px;
}
.name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #23559b;
}

@media (max-width: 480px) {
  .description {
    max-height: 200px;
    overflow-y: auto; /* Scroll om texten är för lång */
    padding-right: 5px;
  }
}

.title {
  font-size: 1rem;
  color: #666;
  margin-bottom: 10px;
}

.description {
  font-size: 0.9rem;
  color: #333;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .image {
    width: 150px; /* Större bild för större skärmar */
    height: 150px;
  }
}
