/* Första grid för första raden */
.team {
  margin-left: 100px;
  width: 100%;
}

.medarbetare {
  width: 100%;
  margin-left: -5px;
  margin-top: -2px;
}

.team3 {
  width: 100%;
  margin-left: -5px;
  margin-top: -20px;
}

.bolagsstyrelse {
  width: 100%;
  margin-left: -5px;
  margin-top: 80px;
}
.ContainerFullPage1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 450px; /* Fixed width for items */
  overflow: hidden;
  text-align: left;
  flex-shrink: 0; /* Ensure items don't shrink */
  margin-left: 370px;
}
.firstRow {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Två kolumner */
  gap: 24px; /* Mellanrum mellan kolumner */
}
.content {
  padding: 20px;
}

.presentation {
  font-size: 2rem;
  margin-top: 70px;
  color: #1c1e53;
  margin-left: -30px;
}

.infografik {
  width: 1000px;
  margin-left: 30px;
}
/* Andra grid för övriga rader */
.secondGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tre kolumner */
  gap: 16px; /* Mellanrum mellan kolumner och rader */
}

/* Gemensamma stilar för alla h3 */
.divli1,
.divli2,
.divli3,
.divli4,
.divli5,
.divli6,
.divli7,
.divli8 {
  line-height: 1.6;
  border: #23559b 2px solid;
  width: 300px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #23559b;
  padding: 8px;
  margin: auto; /* Centrera elementen inom sina gridceller */
  margin-bottom: 24px;
  border-radius: 40px;
  font-size: 20px; /* Use rem for responsiveness */
  line-height: 1.2;
  color: #555;
}

/* Justera placering av de två första elementen för att skapa en pyramid */
.firstRow h3 {
  margin-top: 0;
}

.secondGrid {
}

.ptext {
  margin-left: 50px;
}

.huvudtitle {
  font-size: 64px;
  font-weight: 700;
  margin: -30px 0 50px; /* Combine margin properties */
  color: #333333;
}

.rubrik,
.rubrik1 {
  font-size: 32px;
  font-weight: 700;
  margin: 10px 0 20px; /* Combine margin properties */
  color: #333333;
}

.title,
.title1 {
  font-size: 24px;
  font-weight: 700;
  margin: 10px 0 20px; /* Combine margin properties */
  color: #4f4f4f;
}

.ContainerFullPage {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 80px;
}

.Item {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 330px; /* Fixed width for items */
  overflow: hidden;
  text-align: left;
  flex-shrink: 0; /* Ensure items don't shrink */
}

.image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.description,
.description1 {
  font-size: 16px;
  color: #666666;
  margin-top: 10px;
}

.scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px; /* Adjusted for smaller screens */
  background-color: #c1eaff;
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.scrollToTop:hover {
  background-color: #194276;
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
  .ContainerFullPage {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items */
  }

  .Item {
    width: 90%; /* Full width for smaller screens */
    margin-bottom: 20px; /* Add margin for spacing */
  }

  .image {
    height: auto; /* Adjust image height for smaller screens */
  }
}
