.scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 60px;
  background-color: #c1eaff;
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.scrollToTop:hover {
  background-color: #194276;
}
.team {
  margin-left: 120px;
  width: 1200px;
  margin-top: 50px;

  padding: 10px 10px;
  text-align: center;
}

.rubrik {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 10px;
  color: #333333;
}
.huvudtitle {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 50px;
  margin-top: -30px;
  color: #333333;
}
.title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 10px;
  color: #4f4f4f;
}

.Container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}
.ContainerFullPage {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
  row-gap: 80px;
}
.Item {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  overflow: hidden;
  text-align: left;
  flex-shrink: 0; /* Ensure items don't shrink */
}

.image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.content {
  padding: 20px;
}

.Title {
  font-size: 24px;
  font-weight: 600;
  color: #4f4f4f;
}

.description {
  font-size: 16px;
  color: #666666;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .Container {
    flex-direction: column; /* Ensure column direction */
    height: auto; /* Adjust height for smaller screens */
    overflow-y: auto; /* Enable vertical scrolling */
  }

  .Item {
    width: 90%; /* Adjust width to fit smaller screens */
    margin-bottom: 20px; /* Add margin for spacing */
  }

  .image {
    height: auto; /* Adjust image height for smaller screens */
  }
}
