.vaerdering {
  max-width: 800px;
  margin: 0px auto; /* 260px från toppen och centrerad horisontellt */
  margin-top: -40px;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.h2divdark {
  font-size: 2rem;
  color: #23559b;
  margin-bottom: 20px;
  font-weight: bold;
}

.downloadButton {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: #23559b;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.downloadButton:hover {
  background-color: #1a3e70;
  transform: translateY(-3px); /* Lätt lyft vid hovring */
}

.scrollToTop {
  margin-top: 30px;
  font-size: 2rem;
  cursor: pointer;
  color: #23559b;
}

/* Responsiv design */

/* För små skärmar (max-width: 480px) */
@media (max-width: 480px) {
  .vaerdering {
    max-width: 90%;
    margin: 0px auto; /* Justerad toppmarginal för små skärmar */
  }

  .h2divdark {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  .downloadButton {
    font-size: 1rem; /* Mindre knapptext */
    padding: 8px 16px;
  }
}

/* För medelstora skärmar (min-width: 768px) */
@media (min-width: 768px) {
  .vaerdering {
    max-width: 700px;
    margin: 0px auto; /* Justerad toppmarginal för medelstora skärmar */
  }

  .h2divdark {
    font-size: 1.8rem;
    margin-bottom: 18px;
  }

  .downloadButton {
    font-size: 1.1rem;
    padding: 10px 18px;
  }
}

/* För stora skärmar (min-width: 1024px) */
@media (min-width: 1024px) {
  .vaerdering {
    max-width: 800px;
    margin-top: -40px;

    margin: 0px auto; /* 260px från toppen för stora skärmar */
  }

  .h2divdark {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .downloadButton {
    font-size: 1.2rem;
    padding: 10px 20px;
  }
}
