/* Container Styling */
.container {
  max-width: 800px;
  margin: 40px auto 50px auto; /* Marginal för att ge utrymme under hjältesektionen */
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Image Styling */
.image {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Scroll to Top Button */
.scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #23559b;
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.scrollToTop:hover {
  background-color: #1a4178;
}

/* Responsiv design */

/* För små skärmar (max-width: 480px) */
@media (max-width: 480px) {
  .container {
    padding: 10px;
    margin-top: 40px;
  }

  .image {
    max-width: 100%;
  }
}

/* För medelstora skärmar (min-width: 768px) */
@media (min-width: 768px) {
  .container {
    padding: 20px;
    margin-top: 40px;
  }

  .image {
    max-width: 500px;
  }
}

/* För stora skärmar (min-width: 1024px) */
@media (min-width: 1024px) {
  .container {
    max-width: 900px;
    margin-top: 40px;
  }

  .image {
    max-width: 100vh;
  }
}
