@tailwind components;
@tailwind utilities;

/* färgen: ljusblå: #c9e7f153. #ebf4f9*/
/*Loggans färg: HEX: #23559B
h2 färg: color: #23559B;
h1 färg:   color: #1c1e53;
*/
/* backgroundsfärgen: #ebf4f9*/
/* ikoner adress: <i className="bi bi-geo-alt"></i>*/
/* postadress: <i class="bi bi-envelope"></i>
/* knappar: #06327d*/

/* styles/globals.css */
span {
  font-weight: bold;
  font-size: 1.5rem;
}
.div {
  width: 100vw; /* Säkerställ att div täcker hela bredden */
  margin: 0; /* Ta bort marginal */
  padding: 0; /* Ta bort padding */
  overflow-x: hidden; /* Förhindra horisontell scroll */
}

* {
  font-family: Poppins, -apple-system, Roboto, Helvetica, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

section {
  max-width: 100%; /* Limit the maximum width */
  padding: 20px; /* Add padding for spacing */
  margin: 0 auto; /* Center the content */
  margin-top: 60px;
  margin-left: 60px;
}

a {
  text-decoration: none; /* Tar bort understrykning från länkar */
}

.whiteboard {
  padding: 20px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 100px;
  margin-bottom: 60px;
  margin-top: 60px;
}
i {
  color: white;
  font-size: 24px; /* Storlek */
  margin-right: 8px; /* Utrymme efter ikonen */
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #ebf4f9;
  font: 500 24px/150% Poppins, -apple-system, Roboto, Helvetica, sans-serif;
}

/* globals.css */

h2 {
  color: #23559b;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  line-height: 3rem;
  font-weight: 570;
}

h1 {
  font-size: 58px; /* Använd rem för bättre skalbarhet */
  font-weight: 570;
  color: #1c1e53;
  display: flex;
  justify-content: center;
  line-height: 4rem;
}

ul,
ol {
  font-size: 20px; /* Use rem for responsiveness */
  line-height: 1.2; /* Improve readability */
  margin-bottom: 1rem;
  color: #555;
  margin: 1rem 0; /* Add margin for spacing */
  padding-left: 20px; /* Indent the list */
}

p,
.ptext {
  font-size: 20px; /* Use rem for responsiveness */
  line-height: 1.2; /* Improve readability */
  margin-bottom: 1rem;
  color: #555;
}

.div {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  font: Poppins, -apple-system, Roboto, Helvetica, sans-serif;
}

.scrollToTop {
  bottom: 20px;
  display: flex;
  margin-left: 200px;
}

@keyframes colorShift {
  0% {
    background-color: #3576ba;
  }
  50% {
    background-color: #04c4e9;
  }
  100% {
    background-color: #a3dcef;
  }
}
.buttongradient {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  letter-spacing: 0.16px;
  justify-content: center;
  width: 130px;
  height: 50px;
  background-color: #a3dcef;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s;
  background: linear-gradient(
    90deg,
    #3576ba 0%,
    #a3dcef 50%,
    #3576ba 100%
  ); /* Three-color gradient */
}
.button:hover {
  border-color: #646cff;
}
.h2 {
  font-size: 62px;
}

.ptext {
  font-size: 20px; /* Use rem for responsiveness */
  line-height: 1.2; /* Improve readability */
  margin-bottom: 1rem;
  color: #555;
}

h3 {
  font-size: 2.5rem; /* Use rem for responsiveness */
  margin-bottom: 1rem; /* Add space below headings */
}

/* För skärmstorlekar över 1200px */
@media (min-width: 1200px) {
  mainLink {
    color: white; /* Vit text för stora skärmar */
  }
}

/* För skärmstorlekar under 1200px */
@media (max-width: 1199px) {
  mainLink {
    color: white; /* Mörk text för mindre skärmar */
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 28px;
    line-height: 36px;
    margin: 0 auto;
    width: 90%;
  }

  h2 {
    font-size: 24px;
    margin-top: 10px;
  }
}
