@import "bootstrap-icons/font/bootstrap-icons.css";

/* Globala inloggningsstilar */

/* Basstilar */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #f9f9f9;
}*/

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #c9e7f1;
}
body,
html {
  overflow-x: hidden;
}

/* Rubriker */
h1 {
  font-size: 3rem;
  color: #23559b;
}

h2 {
  font-size: 2.5rem;
  color: #23559b;
}

/* Text */
p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 1rem 0;
  color: #333;
}
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: #23559b;
}

/* Scroll to top */
.scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #c1eaff;
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.scrollToTop:hover {
  background-color: #194276;
}

.scrollToTop:active {
  transform: scale(0.9);
}

/* Responsiv design */

/* För små skärmar (max-width: 480px) */
@media (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  p {
    font-size: 0.9rem;
  }

  .scrollToTop {
    width: 40px;
    height: 40px;
    font-size: 1rem;
    padding: 8px;
  }
}

/* För mellanstora skärmar (min-width: 768px) */
@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  .scrollToTop {
    width: 45px;
    height: 45px;
    font-size: 1.25rem;
  }
}

/* För stora skärmar (min-width: 1024px) */
@media (min-width: 1024px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.2rem;
  }

  .scrollToTop {
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
  }
}
