/* Basstilar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, -apple-system, Roboto, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #c9e7f153; /* Ljusblå bakgrund */
}
body,
html {
  overflow-x: hidden;
}

/* Rubriker */
h1 {
  font-size: 3rem;
  text-align: center;
  color: #1c1e53;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
  color: #23559b;
}

/* Text */
p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 1rem 0;
  color: #555;
}
a {
  text-decoration: none; /* Ta bort understrykning */
  color: inherit; /* Ärver förälderns färg */
}

a:hover {
  text-decoration: none; /* Ingen understrykning vid hover */
  color: #23559b; /* Ändra färg vid hover */
}

/* Scroll to top */
.scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #c1eaff;
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.scrollToTop:hover {
  background-color: #194276;
}

/* Responsiv design */

/* För små skärmar (max-width: 480px) */
@media (max-width: 480px) {
  h1 {
    font-size: 2rem; /* Mindre rubrikstorlek */
  }

  h2 {
    font-size: 1.8rem; /* Justera underrubrikstorlek */
  }

  p {
    font-size: 0.9rem; /* Mindre textstorlek */
  }

  .scrollToTop {
    width: 35px;
    height: 35px;
    font-size: 1rem;
  }
}

/* För mellanstora skärmar (min-width: 768px) */
@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  .scrollToTop {
    width: 40px;
    height: 40px;
    font-size: 1.25rem;
  }
}

/* För stora skärmar (min-width: 1024px) */
@media (min-width: 1024px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.2rem;
  }

  .scrollToTop {
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
  }
  a {
    text-decoration: none; /* Ta bort understrykning */
    color: inherit; /* Ärver förälderns färg */
  }

  a:hover {
    text-decoration: none; /* Ingen understrykning vid hover */
    color: #23559b; /* Ändra färg vid hover */
  }
}
