@tailwind components;
@tailwind utilities;

.body {
  overflow-x: hidden;
}

.div {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  font: Poppins, -apple-system, Roboto, Helvetica, sans-serif;
}

.scrollToTop {
  bottom: 20px;
  display: flex;
  margin-left: 200px;
}

@keyframes colorShift {
  0% {
    background-color: #3576ba;
  }
  50% {
    background-color: #04c4e9;
  }
  100% {
    background-color: #a3dcef;
  }
}
.buttongradient {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  letter-spacing: 0.16px;
  justify-content: center;
  width: 130px;
  height: 50px;
  background-color: #a3dcef;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s;
  background: linear-gradient(
    90deg,
    #3576ba 0%,
    #a3dcef 50%,
    #3576ba 100%
  ); /* Three-color gradient */
}
.button:hover {
  border-color: #646cff;
}
.h2 {
  font-size: 62px;
}

.ptext {
  font-size: 24px;
}

.h3 {
  font-size: 34px;
}
