.container {
  text-align: center;
  padding: 50px;
}

.heading {
  font-size: 3rem;
  margin-bottom: 20px;
}

.subheading {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 30px;
}

.loginHeading {
  font-size: 1.8rem;
  color: #23559b;
  margin-bottom: 20px;
}

.loginSubheading {
  font-size: 1rem;
  color: #333;
  margin-bottom: 30px;
  line-height: 1.5;
}

.input {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #23559b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #1c4484;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
