.container {
  max-width: 800px;
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: deeppink;
}
/* Title Styles */
.title {
  font-size: 2rem;
  color: #23559b;
  margin-bottom: 20px;
}

/* Text Styles */
.text {
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
  margin-bottom: 20px;
}

/* Download Button Styles */
.downloadButton {
  display: inline-block;
  background-color: #23559b;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.downloadButton:hover {
  background-color: #1a4178;
}

/* Scroll to Top Styles */
.scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #23559b;
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.scrollToTop:hover {
  background-color: #1a4178;
}

/* Responsiv design */

/* För små skärmar (max-width: 480px) */
@media (max-width: 480px) {
  .container {
    margin-top: 20px;
    padding: 10px; /* Minska padding */
  }
  .title {
    font-size: 1.8rem;
  }

  .text {
    font-size: 0.9rem;
  }

  .downloadButton {
    padding: 8px 16px;
  }
}

/* För medelstora skärmar (min-width: 768px) */
@media (min-width: 768px) {
  .container {
    margin-top: 20px;
    padding: 10px; /* Minska padding */
  }
  .title {
    font-size: 2rem;
  }

  .text {
    font-size: 1rem;
  }
}

/* För stora skärmar (min-width: 1024px) */
@media (min-width: 1024px) {
  @media (min-width: 1200px) {
    .container {
      max-width: 900px; /* Anpassa max-bredd */
      margin-left: auto; /* Centrerar sektionen */
      margin-right: auto; /* Centrerar sektionen */
    }
  }

  .title {
    font-size: 2.5rem;
  }

  .text {
    font-size: 1.1rem;
  }
}
/*BOLAGSSTÄMMA SLUT*/
